/* ----------------------------
	Project Name: THE PANDA | Apple iPhone & Samsung Galaxy Phone Cases
	---------------------------
	Table of Contents
	---------------------------
	01 General Styling 
 ---------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

@font-face {
	src: url('../font/Balham.otf');
	font-family: 'Balham';
}

:root {
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);
	--red:  rgb(255, 0, 0);
	--dark-red: rgb(199, 1, 1);
	--green: rgb(0, 170, 0);
	--yellow: rgb(255, 234, 0);
}

/* 01 General Styling */

html {scroll-behavior: smooth;}

* {
    margin: 0;
    padding: 0;
	word-wrap: break-word;
	box-sizing: border-box;
	font-family: 'Balham';
}

a, button {text-decoration: none !important;}

img {width: 100%;}

h2 {font-size: 27px;}

p {font-size: 16.5px;}

input[type = "number"]::-webkit-inner-spin-button, 
input[type = "number"]::-webkit-outer-spin-button {  
	opacity: 1;
}

input[type = "number"] {padding-right: 5px !important;}

/* Bootstrap Classes */

.badge {letter-spacing: 1px;}

.rounded-circle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Text & Color Classes */

.font-family {font-family: "Chelsea Market", cursive;}

.text-spacing {
	word-spacing: 3px;
	letter-spacing: 2px;
}

.h4 {font-size: 23px;}

.border-danger {border-color: var(--red) !important;}

.text-danger {color: var(--red) !important;}
.text-waring {color: var(--yellow) !important;}

.bg-black {background-color: var(--black);}
.bg-red {background-color: var(--dark-red);}

/* Header */

.logo {width: 120px;}

.main-nav li:not(:last-child) {margin-right: 80px;}

.main-nav .badge {
	font-size: 8.5px;
	letter-spacing: 1px;
	top: -2px;
}

.page-header i {font-size: 17px;}

.number-of-products {
	width: 13.5px;
	height: 13.5px;
	top: -5px;
	right: -12px;
	padding-top: 2px;
	font-size: 9px;
}

.page-header .small {font-size: 12px;}

/* Footer */

small {font-size: 14px;}

.page-footer > .nav-links li:not(:last-child)::after {
	content: "\2022";
	display: inline-block;
	margin: 0 30px;
}

/* Social Media */

.social-media li:not(:last-child) {margin-right: 40px;}

.fa-facebook:hover {color: rgb(66, 104, 179);}

.fa-instagram:hover {
    color: transparent;
    background: -webkit-radial-gradient(30% 107%, circle, rgb(253, 244, 151) 0%, rgb(253, 244, 151) 5%, rgb(253, 89, 73) 45%, rgb(214, 36, 159) 60%, rgb(40, 90, 235) 90%);
    -webkit-background-clip: text;
		    background-clip: text;
}


.fa-twitter:hover {color: rgb(29, 161, 242);}
.fa-youtube:hover {color: rgb(255, 0, 0);}
.fa-linkedin:hover {color: rgb(134, 136, 138);}

/* Shopping Cart */

.shopping-cart {
	width: 430px;
	left: unset !important;
	right: 0;
	overflow-y: scroll;
}

.shopping-cart > header * {font-size: 14px;}

.remove-shopping-cart-item {
	top: -10px;
	right: 0;
	font-size: 14px;
}

.shopping-cart-item:last-child {margin-bottom: 30px;}

.shopping-cart-item h6 {font-size: 17px;}
.shopping-cart-item > div:last-child > p {font-size: 13.5px;}
.shopping-cart-item > div:last-child div p {font-size: 16px;}
.shopping-cart-item span {font-size: 15px;}

.shopping-cart-item s {
	order: 2;
	margin: 0 !important;
	font-size: 14px;
}

.shopping-cart-item .quantity {
	width: 60px;
	height: 37px !important;
	font-size: 15px;
}

.shopping-cart > footer a {font-size: 14px;}

/* Breadcrumb */

.breadcrumb {
	padding: 0;
	margin: 0;
	background-color: transparent;
	font-size: 12.5px;
}

/* Form Styling */

form input.form-control, select {height: 45px !important;}
textarea {height: 150px !important;}

form input[type = "checkbox"] {
	width: 30px;
	height: 30px; 
}

form span.text-danger {margin-left: 2px;}

form .w-75 {width: 74% !important;}
form .w-50 {width: 49% !important;}
form .w-25 {width: 24% !important;}

form i {font-size: 15px;}

form .form-control, select.form-control {font-size: 15px;}

form label.font-weight-bold, 
input[type = "submit"] {
	font-size: 14px;
}

form select {background-position-x: 97% !important;}

select {
    -webkit-appearance: none;  
	   -moz-appearance: none;  
   	        appearance: none;
	background: url("../img/icons/angle-down.png") no-repeat right;
    background-position-x: 96%;
	background-size: 10px auto;
}

/* Product Styling */

.product span.badge,
.shopping-cart-item span.badge {
	width: 39px;
	height: 39px;
	top: calc(4.86% - 18px);
	right: calc(27.36% - 18px);
	font-size: 9px;
	letter-spacing: 1px;
}

.product .card-title {font-size: 17px;}

.product > div:first-child a {
	width: 40px; 
	height: 40px;
	padding: 2px 1px 0 0;
	font-size: 14px;
}

.product .card-body > p {font-size: 13.5px;}

.product-price * {font-size: 16px;}

.product > div:first-child:hover img, 
.product > div:first-child:hover .badge {
	opacity: 0.5;
}

.product > div:first-child:hover a {display: flex !important;}

/* Home */

.slider-nav a {
	width: 40px;
	height: 40px;
}

.slider-nav .previous {padding-right: 2px;}
.slider-nav .next {padding-left: 2px;}
.slider-track {left: 0; width: 100%;}

/* Single Product Styling */

#product-image span.badge {
	width: 80px;
	height: 80px;
	top: calc(-4.86% + 30px);
	right: calc(27.36% - 35px);
	font-size: 14px;
	letter-spacing: 2px;
}

#product-name {font-size: 23px;}
#number-reviews {font-size: 16px;}

#product-rating i:not(:last-child) {margin-right: 5px;}

#product-price p {
	order: 1;
	font-size: 20px;
}

#product-price s {
	order: 2;
	margin: 0 !important;
	font-size: 18px;
}

#single-product select {background-position-x: 97% !important;}

#product-details-accordion button {font-size: 17px;}

#single-product .fa-angle-down, 
#product-details-accordion p {
	font-size: 15px;
}

#single-product input {
	height: 45px !important;
	width: 80px;
}

#btn-add-to-shopping-cart {
	height: 45px;
	font-size: 14px;
}

#similar-products h3 {font-size: 20px;}
#similar-products, .slider-track {overflow-x: hidden;}
#similar-products *.slider-item {width: 20% !important;}

/* Order Items */

#order-items {
	display: block !important;
	overflow: hidden;
	height: auto !important;
}

#order-items a[href = "checkout.html"] {display: none;}

/* About Us */

.icon {
	width: 35px;
	opacity: 0.6;
}

#about-us .rounded-circle {
	width: 150px;
	height: 150px;
}

#about-us .rounded-circle > h3 {font-size: 23px;}

#about-us .border-left {
	margin-left: 60px;
	padding-left: 60px;
}

#img-position-1 {top: 7%; left: 0;}
#img-position-2 {top: 20%; right: 0;}
#img-position-3 {bottom: 0; left: 0;}
#img-position-4 {bottom: 5%; right: 5%;}

/* Shop */

#shop aside {width: 310px;}

#shop .list-group-item h6 {font-size: 17px;}
#shop .list-group-item i {font-size: 15px;}

#shop input[type = "checkbox"] {
	width: 11px; 
	height: 11px;
}

#categories > li:not(:last-child) {margin-bottom: 15px;}

#shop label {
	margin-left: 3px; 
	font-size: 13.5px;
}

#colors li {
	width: 38px; 
	height: 38px;
	margin-right: 6px;
}

.color i {
	font-size: 13px;
	margin-top: 2px;
}

#search-product-by-name {height: 45px !important;}

#search-product {
	height: calc(100% - 10px);
	top: 5px;
	right: 5px;
	font-size: 14px;
}

.layout-option i {font-size: 20px;}

label img {width: 30px;}

#shop select, #shop input {font-size: 14px;}

#sort-products {width: 225px !important;}

.padding, #products > p {padding: 0 4% 0 5%;}

#products > p {font-size: 19px;}

/* Contact Us */

#contact-us h3 {font-size: 20px;}

/* About Author */

#about-author header * {font-size: 20px;}


